@model AddressBook.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script>

</script>
<div class="jumbotron">
    <h2 id="h1titel" style="display: block; text-align: center" title="Account Management">Account Management</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-primary form-horizontal">

        <div class="panel-heading">
            <asp:Label ID="lblHead" runat="server"><h2>User</h2></asp:Label>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required"></span>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.LastName, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required"></span>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.UserName, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required">*</span>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.Password, new { @class = "col-sm-2" })
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required">*</span>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-sm-2" })
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required">*</span>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="checkbox">
                <div class="col-sm-4"></div>
                @Html.ValidationMessageFor(model => model.UserType)


                @Html.CheckBoxFor(model => model.UserType)
                @Html.LabelFor(model => model.UserType)
            </div>
            <div class="form-group">
                <div class="col-sm-9"></div>
                <div class="btn-group">
                    <input type="submit" value=@((bool)ViewBag.btnSaveTitle ? "Create" : "Edit") name="btnSave" class="btn btn-primary form-control">
                </div>
                <div class="btn-group" style="direction:rtl">
                    <input type="submit" value="Cancel" id="btnCancel" name="btnCancel" @((bool)ViewBag.btnCancelEnable ? "" : "disabled=\"disabled\"") class="btn btn-primary form-control cancel">
                </div>

            </div>
        </div>
    </div>
}

<div>
    @Html.Action("List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
