@model AddressBook.ViewModels.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h2 id="h1titel" style="display: block; text-align: center" title="Account Management">login</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-primary form-horizontal">
        <div class="panel-heading">
            <asp:Label ID="lblHead" runat="server"><h2>Login</h2></asp:Label>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.UserName, new { @class = "col-sm-2" })
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required">*</span>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.Password, new { @class = "col-sm-2" })
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required">*</span>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-7"></div>
                <div class="btn-group" style="direction:rtl">
                    <input type="submit" value="Login" class="btn btn-primary form-control" />
                </div>
            </div><p>
                @Html.ActionLink("Forgot Password", "Forgot")
            </p>
        </div>
    </div>


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
