@model AddressBook.Models.Contact

@{
    ViewBag.Title = "newform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2 id="h1titel" style="display: block; text-align: center" title="contact">Contact</h2>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="panel panel-primary form-horizontal">
        <div class="panel-heading">
            <asp:Label ID="lblHead" runat="server"><h2>Contact</h2></asp:Label>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required">*</span>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.LastName, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required">*</span>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.Phone, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required">*</span>
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.StreetName, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required"></span>
                        @Html.TextBoxFor(model => model.StreetName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StreetName)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.City, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required"></span>
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.Province, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required"></span>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Province, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Province)
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.PostalCode, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required"></span>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PostalCode)
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                @Html.LabelFor(model => model.Country, new { @class = "col-sm-2" })
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon forrm-required"></span>
                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Country)
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-9"></div>
                <div class="btn-group">
                    <input type="submit" value=@((bool)ViewBag.btnSaveTitle ? "Create" : "Edit") name="btnSave" class="btn btn-primary form-control">
                </div>
                <div class="btn-group" style="direction:rtl">
                    <input type="submit" value="Cancel" name="btnCancel" @((bool)ViewBag.btnCancelEnable ? "" : "disabled=\"disabled\"") class="btn btn-primary form-control">

                </div>

            </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
